@using ECommWeb.Models;
@using Microsoft.AspNetCore.Mvc;
@using Newtonsoft.Json;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authorization;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopEase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="container-fluid">
                <b><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShopEase</a></b>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <b>Hello.. @User.Claims.FirstOrDefault(c => c.Type == "Name")?.Value</b>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>


                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"> Products</a>
                   
                  @*   <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a> *@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="Index">All Vendors</a>
                    @if (User.Claims.Any(c => c.Type == "Role" && c.Value == "1"))
                    {
                      
                      @*   <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Create">Sell Products</a> *@
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="SellProducts">Sell </a>
                      @*   <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="ExistingProduct">Existing </a> *@
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="VendorProfile">Vendor Profile </a>
                    }
                 
                    @if (User.Claims.Any(c => c.Type == "Role" && c.Value == "0"))
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">My Orders </a>
                      @*   <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">My Cart</a> *@
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">User Profile </a>
                    }
             
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a>
                    }

                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="Index">Become a Seller</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="SignUp">Sign Up</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div style="margin-top:5px">
                @RenderBody()
            </div>


            <div class="modal fade" id="messageModal" tabindex="-1" style="background-color:#adb5bd;" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="messageModalLabel">Hello..</h5>
                            <button type="button" class="close" id="btnalert" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="modalMessage"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btnalert2" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted bg-secondary">
        <div class="container" style="color:black">
            Swapnil Muluk 2024 - E-Commerce Website
            <a style="float:right;margin-top:10px" id="btnDev" class="btn btn-dark">Developer</a>
        </div>
    </footer>


    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Developer's Area(Using AJAX)</h5>
                    <button type="button" id="btn1Close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <p><strong>Name:</strong> <span id="lblName"></span></p>
                        <p><strong>Experience:</strong> <span id="lblExp"></span></p>
                        <p><strong>Location:</strong> <span id="lblLocation"></span></p>
                        <p><strong>Skill:</strong> <span id="lblSkill"></span></p>
                        <p><strong>Frontend:</strong> <span id="lblFront"></span></p>
                        <p><strong>Backend:</strong> <span id="lblBack"></span></p>
                        <p><strong>API:</strong> <span id="lblAPI"></span></p>
                        <p><strong>Hobbies:</strong> <span id="lblHobbies"></span></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn2Close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            // Check for success message
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                $('#modalMessage').text(successMessage);
                $('#messageModal').modal('show');
            }

            // Check for alert message
            var alertMessage = '@TempData["AlertMessage"]';
            if (alertMessage) {
                $('#modalMessage').text(alertMessage);
                $('#messageModal').modal('show');
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnDev").click(function () {
                $.ajax({
                    url: "http://localhost:51430/User/GetDevInfo",
                    method: "GET",
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#lblName").text(data.Name);
                        $("#lblExp").text(data.Experience);
                        $("#lblLocation").text(data.Location);
                        $("#lblSkill").text(data.Skill);
                        $("#lblFront").text(data.Frontend);
                        $("#lblBack").text(data.Backend);
                        $("#lblAPI").text(data.API);
                        $("#lblHobbies").text(data.Hobbies);
                        console.log(data);
                        $('#myModal').modal('show');
                    },
                    error: function (err) {
                        console.error(err);
                        alert("To see developers info please login!");
                    }
                })
            });
            $("#btn1Close").click(function () {
                $('#myModal').modal('hide');
            });
            $("#btn2Close").click(function () {
                $('#myModal').modal('hide');
            });
            $("#btnalert").click(function () {
                $('#messageModal').modal('hide');
            });
            $("#btnalert2").click(function () {
                $('#messageModal').modal('hide');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
