@model IEnumerable<ECommWeb.Models.Product>

@{
    ViewData["Title"] = "Search";
}

<body style="background-color:#adb5bd;">
    <h4>All Product like -@ViewBag.SearchProduct</h4>
@* <div>
    <br />
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    
    </dl>
</div> *@
  @*   <div>
   
          <a asp-action="Index" class="btn btn-dark">Back</a>
        <button type="submit" class="btn btn-dark" onclick="Add">Buy</button>

       
    </div> *@


    @if (Model == null || !Model.Any())
    {
        <p>No products found .</p>
    }
    else
    {
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @*  <img src="@product.ImgUrl" class="card-img-top" alt="Product Image">
            *@ <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                     
                    
                     
                        <h5 >@product.ImgUrl</h5>
                      
                        <p class="card-text">@product.ShortText</p>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductID" class="btn btn-primary">View Details</a>

                    </div>
                </div>
            </div>
            <br />
        }
    }
   
        
</body>

